
require ‘csv’


<p><
Issue des données de l'association Atmosud, un niveau moyen des niveaux de concentration en ozone est représenté ci-dessous ( avec une résolution de 1 km).
</p>
<br>
<figure>
	<figcaption>
		Ozone (O3) : Niveau en 2017. (26e maximum journalier le plus élevé de l'année) Unité : microgramme par mètre-cube (µg/m3). Source : AtmoSud
	</figcaption>
	<div id="mapida"></div>

</figure>

<div> 
	<p> Ci-dessous les concentrations moyennes mensuelles d'Ozone (O3) sur l'année 2018</p>
	<canvas id="line-chart" width="750" height="550"></canvas>
</div>
<br>
<div> 
	<p> Ci-dessous les concentrations moyennes par heure d'Ozone (O3) </p>
	<canvas id="myChart" width="750" height="550"></canvas>
</div>

