
require ‘csv’


<p><
Issue des données de l'association Atmosud, un niveau moyen des niveaux de concentration en ozone est représenté ci-dessous ( avec une résolution de 1 km).
</p>
<br>
<figure>
	<figcaption>
		Ozone (O3) : Niveau en 2017. (26e maximum journalier le plus élevé de l'année) Unité : microgramme par mètre-cube (µg/m3). Source : AtmoSud
	</figcaption>
	<div id="mapida"></div>
</figure>

<br>

    
    <canvas id="myChart" width="800" height="400"></canvas>




    
    