<figure>
	<figcaption>
	L'oxyde d'azote (NO2), qui favorise la production d'Ozone (O3) : Niveau en 2017 (36ème jour le plus pollué). Unité : microgramme par mètre-cube (µg/m3). Source : AtmoSud
	</figcaption>
	<div id="mapidan"></div>
</figure>