<div>

<div>
</div>

<div class="col-lg-8 mx-auto">
  <div class="main-content">

    <!-- Order history table -->
    <h1 class="text-center">Gestion des  Articles</h1>
    <div class="card no-border">
      <div>
        <% if (@topics.length > 0) %>
          <%= render "filled_topic_collection" %>
        <% else %>
          <%= render "empty_topic_collection" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
