<div class="col-lg-2 offset-1">
		<div class="sidebar--sticky" data-stick-in-parent="true">
				<ul class="categories categories--style-3">
						<li>
										<span class="category-name">
												Admin Sections
										</span>

								<ul style="padding-left: 2rem;">
										<li>
												<%= link_to "Topics", admin_topics_path, class: "active" %>
										</li>
										<li>
												<%= link_to "Users", admin_users_path %>
										</li>
										<li>
												<%= link_to "Datasets", admin_datasets_path %>
										</li>
								</ul>
						</li>
				</ul>
		</div>
</div>
