<div class="col-2">
		<div class="sidebar--sticky" data-stick-in-parent="true">
				<ul class="categories categories--style-3">
						<li>
										<span class="category-name">
												Admin Sections
										</span>
<% controller_name == "topics" ? activerubylinkbygus1 = "active" : nil %>
<% controller_name == "users" ? activerubylinkbygus2 = "active" : nil %>
<% controller_name == "datasets" ? activerubylinkbygus3 = "active" : nil %>
								<ul style="padding-left: 2rem;">
										<li>
												<%= link_to "Topics", admin_topics_path, class: activerubylinkbygus1 %>
										</li>
										<li>
												<%= link_to "Users", admin_users_path, class: activerubylinkbygus2 %>
										</li>
										<li>
												<%= link_to "Datasets", admin_datasets_path, class: activerubylinkbygus3 %>
										</li>
								</ul>
						</li>
				</ul>
		</div>
</div>
