<div class="container">

				<%= form_tag metodh: 'get' do %>
				
				<label for="lookup">Rechercher votre ville</label>
				<%= text_field_tag :search %>
				<%= submit_tag "Submit", class:"btn btn-primary mb-2" %>
				<% end %>
				<br>
</div>
