<div class="container">
  <h3>Database disponible</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          
        </tr>
      </thead>
      <tbody>
    <% l = 0 %>
	<% while l < @test.length %>
        <tr>
          <td><%= l %></td>
          <td><%= @test[l]["title"] %></td>
          <td>CSV, PDF</td>
          
        </tr>
        <% l = l + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>