<div>

<div>
</div>

<div class="col-lg-8 mx-auto">
  <div class="main-content">

    <!-- Order history table -->
    <h1 class="text-center">Gestion des utilisateurs</h1>
    <div class="card no-border">
      <div>
        <% if (@users.length > 0) %>
          <%= render "filled_user_collection" %>
        <% else %>
          <%= render "empty_user_collection" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
